{{!-- <!DOCTYPE html>
<html>
    <head>
        <title>Memory Game</title>
        <meta charset="utf-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=5.0"> -->
        <link rel="stylesheet" href="./bootstrap.min.css" />
        <link rel="stylesheet" href="./index.css" />
        <script type="text/javascript" src="./strings.js" defer></script>
        <script type="text/javascript" src="./index.js" defer></script>
    </head>
    <body>
    </body>  
</html> --}}

        <h1>Memory Game</h1>
        <div id="the_game"></div>
        <div id="ctrl_btns"></div>
            