<!DOCTYPE html>
<html>
    <div>
        <h2>Game Over</h2>
    </div>
    <div>
        <p id='displayScore'>Your score was</p> <span id ="score"></span>
    </div>
    <div> 
        Enter Name <input type='text' name='name' id='name'> 
    </div><br/>
    <button onclick="back()">Reset</button>
    <button onclick="sendData()">Submit</button>
</html>