table {
    width: 35%;
    margin: 2% 0 0 38%;
}

h2 {
    text-align: center;
}

h5 {
    text-align: center;
}

#restartButton {
    margin: 2% 0 0 47%;
}

#userName {
    display: inline-block;
    margin-left: 38%;
    width: 23%;
    margin-top: 3%;
}

#userScore {
    display: inline-block;
}